.antiscroll::-webkit-scrollbar {
  display: none;
}

.overlay {
  content: 'hi ishika';
  z-index: 10;
  background: rgba(0, 0, 0, 0.749); /* Semi-transparent gray background */
  display: flex;
  justify-content: center;
  align-items: center;
}

